<ion-view class="auth has-background-gradient">
    <div class="panel-logo" ng-class="{'panel-logo-disabled': mv.visibleKeyboard}">
        <div class="row responsive-sm">
            <div class="col col-center col-logo text-center">
                <img src="img/logo.png" />
                <div>
                    <h2>Playme</h2>
                    <p>Music follow you everywhere you are</p>
                </div>
            </div>
        </div>
    </div>

	<ion-content scroll="false">
        <div class="auth-container row" 
            ng-class="{'keyboard-activated': mv.visibleKeyboard}">

            <div class="col col-bottom">
                <div class="form-container">
                    <div class="flip-container" ng-class="{'flipped': !mv.loginMode}">
                        <div class="form front" ui-view="login-form"></div>
                        <div class="form back" ui-view="signup-form"></div>
                    </div>
                </div>
            </div>
		</div>
	</ion-content>

    <div class="bar bar-footer" ng-hide="mv.visibleKeyboard">
        <div class="title" ng-show="mv.loginMode">
            <a href=""  ng-click="mv.showSignupForm()">Sign up</a>
        </div>
        <div class="title ng-hide" ng-show="!mv.loginMode">
                <a href=""  ng-click="mv.showLoginForm()">Cancel</a>
        </div>
    </div>
</ion-view>