<ion-view class="auth">
    <div class="panel-background">
        <div class="row row-logo">
            <div class="col text-center">
                <img src="img/ionic.png" />
                <div>
                    <h2>Playme</h2>
                    <p>Música em todo lugar</p>
                </div>
            </div>
        </div>
    </div>

	<ion-content scroll="false">
        <div class="auth-container row">
            <div class="col col-bottom">
                <div class="form-container">
                    <div class="flip-container" ng-class="{'flipped': mv.signupFormVisible}">
                        <div class="form front" ui-view="login-form"></div>
                        <div class="form back" ui-view="signup-form"></div>
                    </div>
                </div>
            </div>
		</div>
	</ion-content>

    <div class="bar bar-footer" ng-hide="mv.visibleKeyboard">
        <div class="title">
                <a href="" class="animated-fadeOut" 
                    ng-click="mv.showSignupForm()" ng-show="mv.loginMode">Sign up</a>
                <a href="" class="ng-hide animated-fadeOut"
                ng-click="mv.showLoginForm()" ng-show="mv.signupMode">Cancel</a>    
        </div>
    </div>
</ion-view>