<ion-view view-title="Top Albums" class="album-favorite">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="false" class="stable-bg">
        <div class="row row-wrap">
            <div class="col" ng-repeat="album in mv.favorites">
                <div class="card" ng-click="mv.goDetail(album)">
                    <div class="item item-image">
                        <img ng-src="{{::album.image}}" />
                    </div>
                    <div class="item item-divider">
                        <h2>{{::album.name}}</h2>
                        <p>{{::album.band}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>