<ion-view view-title="Top Albums">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="false">
        <div class="gallery">
            <div class="cell" ng-repeat="album in mv.favorites" ng-click="mv.goDetail(album)">
                <div class="card">
                    <div class="item item-image">
                        <img ng-src="{{album.src}}" />
                    </div>
                    <div class="item item-divider">
                        <h2>{{::album.name}}</h2>
                        <span>{{::album.band}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>