.album-list .list .item:first-child {
    margin-top: 0;
}

.album-list .list::first-child {
    border-top: 1px solid;
}

.album-list .item-thumbnail-left h2 {
    float: left;
}

.album-list .item-thumbnail-left h2, 
.album-list .item-thumbnail-left span {
    padding-top: 30px;
}

.search-form {
    border: none;
    top: 46px;
    z-index: -1;
    position: relative;
}

.search-form .item {
    border: none;
}

.search-form .item-input-wrapper {
    border-radius: 0;
}

.search-form .item-input-wrapper input {
    height: 45px;
    width: 100%;
}

.search-form.ng-hide-add {
    transition: 0.1s linear 0.6s;
    opacity: 1;
}

.search-form.ng-hide-add-active {
    opacity: 0;
}

.animated-list {
    top: 44px;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -o-transition: 0.6s linear;
    transition: 0.6s linear;
}

.animated-list.activated {
    top: 120px;
}

.album-favorite .card {
    margin: 0;
    cursor: pointer;
}

.album-favorite .card .item-divider {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 1023px) {
    .album-favorite .row-wrap .col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media screen and (max-width: 867px) {
    .album-favorite .row-wrap .col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 667px) {
    .album-favorite .row-wrap .col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media screen and (max-width: 447px) {
    .album-favorite .row-wrap .col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/*
* Album details
*/
.album-detail .row img {
    max-width: 305px;
    padding: 0;
    margin: 0;
}

.album-detail .row.responsive-sm .col {
    margin-bottom: 0;
}

.album-detail .row.responsive-sm .col-image {
    padding: 0;
    margin: 0;
    text-align: center;
}

.album-detail .row-player-controls {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    height: 100%;
}

.album-detail .player {
    padding: 0;
    height: 100%;
}

.album-detail .player-image, .album-detail .player-controls {
    padding: 0;
    margin: 0;
}

.album-detail .player-image {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.album-detail .player-image > img {
    max-width: 95%;
    max-height: 95%;
    text-align: center;
}

.album-detail .player .player-time {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.album-detail .player .player-time .range {
    border: none;
    background: none;
    font-size: 12px;
}

.album-detail .player .player-time input {
    margin: 0 10px 0 10px;
    background-size: 99% 5px;
    height: 20px;

}

.album-detail .player .player-time input::-webkit-slider-thumb {
    width: 2px;
    height: 14px;
    border-radius: 0;
    background-color: #886aea;
}

.album-detail .player .player-time input::-webkit-slider-thumb:before {
    top: 4px;
    height: 5px;
}

.album-detail .player .player-controls {
    min-height: 220px;
    max-height: 220px;
}

.album-detail .player .player-controls .row {
    padding: 0;
}

.album-detail .player .player-controls .col {
    margin-bottom: 0;
    padding: 0;
}

.player-text h2 {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: bold;
}

.player-text p {
    margin-bottom: 0;
    font-size: 12px;
}

.player-rating .ionic_rating_icon_on {
    color: #886aea !important;
}

.player-rating .ionic_rating_icon_off {
    color: gray !important;
}

.player-rating .ionic_ratings {
    width: 100%;
    text-align: center;
}

.player-rating .ionic_ratings .icon {
    font-size: 20px;
}

.player-buttons {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0;
    padding-top: 0;
}

.player-buttons .button {
    padding: 0;
}

.player-buttons .icon::before {
    font-size: 20px;
}

.player-volume {
    padding-top: 0;
    padding-bottom: 0;
}

.player-volume .icon {
    color: #ccc;
}

.player-volume .range {
    background: none;
    border: none;
}

.player-volume .range input {
    margin-top: 0;
    margin-bottom: 0;
}

.player-volume input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background-color: #886aea;
}

.player-volume input::-webkit-slider-thumb:before {
    top: 7px;
    height: 2px;
}