.album-list .list .item:first-child {
    margin-top: 0;
}

.album-list .list::first-child {
    border-top: 1px solid;
}

.album-list .item-thumbnail-left h2 {
    float: left;
}

.album-list .item-thumbnail-left h2, 
.album-list .item-thumbnail-left span {
    padding-top: 30px;
}

.search-form {
    border: none;
    top: 46px;
    z-index: -1;
    position: relative;
}

.search-form .item {
    border: none;
}

.search-form .item-input-wrapper {
    border-radius: 0;
}

.search-form .item-input-wrapper input {
    height: 45px;
    width: 100%;
}

.animated-list {
    top: 44px;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -o-transition: 0.6s linear;
    transition: 0.6s linear;
}

.animated-list.activated {
    top: 120px;
}

.search-form.ng-hide-add {
    transition: 0.1s linear 0.6s;
    opacity: 1;
}

.search-form.ng-hide-add-active {
    opacity: 0;
}