.auth label, .auth .title {
    color: #fff;
}

.auth .bar-footer {
    background: none;
    height: 55px;
}

.auth .bar-footer a {
    text-decoration: none;
}

.auth-container {
    height: 100%;
}

.auth-container.keyboard-activated {
    padding-bottom: 165px;
}

.auth-container .col {
    height: 50%;
}

.auth-container .button-login {
    padding-top: 3px;
}

.auth-container .item-input {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;
}

.auth-container .item-input input {
    text-align: center;
}

.auth-container .item-checkbox {
    background: none;
    border: none;
    padding: 13px 0 13px 35px;
    font-size: 13px;
    margin-left: 0;
}

.auth-container .checkbox-icon {
    width: 28px;
    height: 28px;
}

.auth-container .checkbox-icon:before {
    margin-left: 0;
    background: #444;
}

.auth-container .checkbox-icon:after {
    left: 13%;
}

.auth-container .checkbox {
    padding-left: 0;
    left: 0;
}

.form-container { 
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-perspective: 3000px;
    -moz-perspective: 3000px;
    -ms-perspective: 3000px;
    -o-perspective: 3000px;
    perspective: 3000px;
}

.flip-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-container .form {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    padding-right: 20px;
    padding-left: 20px;
}

.flip-container .front {
    z-index: 2;
    transform: rotateY(0deg);
}

.flip-container .back {
    transform: rotateY(180deg);
}

.flip-container.flipped {
    transform: rotateY(-180deg);
}

.animated-fadeOut.ng-hide-add {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}