/****************** Menu ************************/
.bar-header-extend {
    height: 130px;
    background: none;
    border: none;
}

.has-expanded-header {
    top: 130px !important;
}

.menu img {
    height: 65px;
    width: 65px;
}

.menu .menu-logo {
    text-align: center; 
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
}

.menu h2 {
    font-size: 22px;
}

.menu .item-icon-left {
    padding-left: 0;
}

.menu .list {
    padding-left: 25px;
    padding-right: 40px;
}

.menu .list .item {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 18px;
    color: #fff;
}

.menu-open .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}
/************************************************/


.panel-logo .col-logo {
    padding-top: 80px;
}

.panel-logo {
    height: 100%;
}

.panel-logo .row {
    height: 50%;
}

.panel-logo .col-spinner {
    padding-top: 80px;
}

.panel-logo-disabled {
    opacity: 0.1;
}

.panel-logo img {
    width: 90px;
    height: 90px;
}

.panel-logo h2 {
    margin-bottom: 2px;
    font-size: 26px;
}

.panel-logo p {
    font-size: 11px;
}

.has-background-gradient {
    background-color: #BF5FFF;
    background-image: -moz-linear-gradient(top,#BF5FFF,#6b46e5);
    background-image: -webkit-linear-gradient(top,#BF5FFF,#6b46e5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#BF5FFF), color-stop(100%,#6b46e5));
    background-image: -o-linear-gradient(top,#BF5FFF,#6b46e5);
    background-image: linear-gradient(to bottom,#BF5FFF,#6b46e5);
}

.has-background-gradient h2, .has-background-gradient p {
    color: #fff;
}