/****************** Menu ************************/
.bar-header-extend {
    height: 130px;
    background: none;
}

.has-expanded-header {
    top: 130px !important;
}

.menu img {
    height: 65px;
    width: 65px;
}

.menu .menu-logo {
    text-align: center; 
    padding-left: 20px;
    padding-top: 20px;
    font-size: 22px;
}

.menu h2 {
    font-size: 22px;
}

.menu .item-icon-left {
    padding-left: 0;
}

.menu .list {
    padding-left: 25px;
    padding-right: 40px;
}

.menu .list .item {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 18px;
    color: #fff;
}
/************************************************/


.panel-logo .col-logo {
    padding-top: 40px;
}

.panel-logo, .panel-logo .row {
    height: 100%;
}

.panel-logo .col-spinner {
    padding-top: 80px;
}

.panel-logo-disabled {
    opacity: 0.1;
}

.panel-logo img {
    width: 90px;
    height: 90px;
}

.panel-logo h2 {
    margin-bottom: 2px;
}

.cell img {
    display: block;
}

.gallery {
    padding: 6px;
}

.gallery .card {
    border-radius: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gallery .card .item-divider {
    background-color: #fff;
    font-weight: normal;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.gallery .card .item-divider h2 {
    font-weight: 500;
}

@media screen and (min-width: 320px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    .cell {
        width: calc(100% / 3);
    }
}

/*
* Album details
*/
.album-detail .player {
    padding: 0;
    height: 100%;
}

.album-detail .player-image, .album-detail .player-controls {
    padding: 0;
    margin: 0;
}

.album-detail .player-image {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.album-detail .player-image > img {
    max-width: 95%;
    max-height: 95%;
    text-align: center;
}

.album-detail .player .player-time {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.album-detail .player .player-time .range {
    border: none;
    background: none;
    font-size: 12px;
}

.album-detail .player .player-time input {
    margin-right: 10px;
    margin-left: 10px;
    background-size: 99% 5px;
}

.album-detail .player .player-time input::-webkit-slider-thumb {
    width: 2px;
    height: 14px;
    border-radius: 0;
    background-color: #886aea;
}

.album-detail .player .player-time input::-webkit-slider-thumb:before {
    top: 4px;
    height: 5px;
}

.album-detail .player .player-controls {
    min-height: 220px;
    max-height: 220px;
}

.album-detail .player .player-controls .row {
    padding: 0;
}

.album-detail .player .player-controls .col {
    margin-bottom: 0;
    padding: 0;
}

.player-text h2 {
    font-size: 16px;
    margin-bottom: 2px;
}

.player-rating .ionic_rating_icon_on {
    color: #886aea !important;
}

.player-rating .ionic_rating_icon_off {
    color: gray !important;
}

.player-rating .ionic_ratings {
    width: 100%;
    text-align: center;
}

.player-rating .ionic_ratings .icon {
    font-size: 20px;
}

.player-buttons {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 0;
}

.player-buttons .button {
    padding: 0;
}

.player-volume {
    padding-top: 0;
}

.player-volume .icon {
    color: #ccc;
}

.player-volume .range {
    background: none;
    border: none;
}

.player-volume input::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background-color: #886aea;
}

.has-background-gradient {
    background-color: #6b46e5;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BF5FFF), to(#6b46e5));
    background: -webkit-linear-gradient(top, #BF5FFF, #6b46e5);
    background: -moz-linear-gradient(top, #BF5FFF, #6b46e5);
    background: -ms-linear-gradient(top, #BF5FFF, #6b46e5);
    background: -o-linear-gradient(top, #BF5FFF, #6b46e5);
}

.has-background-gradient h2, .has-background-gradient p {
    color: #fff;
}